::root {
    --primaria: #4f36e5;
    --secundaria: #7c3aed;
    --escuro #0f172a;
    --maisEscuro: #0a0f1c
    --claro: #e2e8f0
    --vidro: rgba(255, 255, 225, 0.1)
}


body {
    background-color: var(--escuro);
    color: var(--claro);
}
